@page "/dashboard"

@using Interfaces;
@using System.Diagnostics;
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.Util
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.PieChart

@inject IJSRuntime jsRuntime
@inject IWebServiceAPI WebServiceAPI


<h2>Dashboard</h2>
<br />

<h3>Top 5 Categories with more Products:</h3>
<p></p>
@foreach (var (category, numproducts) in categoryByProducts)
{
    <p>@category.Name : @numproducts</p>
}
<br />

<h3>Top AveragePrice by Category:</h3>
<p></p>
@foreach (var (category, avgPrice) in categoryByAvgPrice)
{
    <p>@category.Name : @avgPrice.ToString("0.00 €")</p>
}

