@page "/editproduct/{id:int}"

@using ProjetoFinalAPI.Models;
@using Interfaces;
@using System.Diagnostics;


@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager

<h3>EditProduct</h3>


@if (ProductData is not null)
{
    <EditForm Model="@ProductData" OnValidSubmit="UpdateProduct">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Name" HelperText="Max. 20 characters"
                        @bind-Value="ProductData.Name" />
                        <MudNumericField Label="Price" Class="mt-3"
                        @bind-Value="ProductData.Price" />
                        <div class="form-group">
                            <label for="categories">Category:</label>
                            <br />
                            <select @onchange="OnselectChanged">
                                <option value="0">Select a Category</option>
                                @foreach (var item in Categories)
                                {
                                    <option value="@item.CategoryId">@item.Name</option>
                                }
                            </select>
                        </div>
                        <MudTextField Label="Description" Class="mt-3"
                        @bind-Value="ProductData.Description" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" >Update</MudButton>
                        <MudButton ButtonType="ButtonType.Button" @onclick="() => EditStockProduct(ProductData.Id)" Variant="Variant.Filled" Color="Color.Error">EditStock</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
<ModalComponent @ref=@Modal Message=@Message></ModalComponent>
   
}

