@inherits LayoutComponentBase

<PageTitle>ProjetoFinal</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@code{
    bool sidebarCollapsible = true;
    public void ChangeSidebarVisible()
    {
        sidebarCollapsible = !sidebarCollapsible;
        StateHasChanged();
    }
}
<div class="page">
    <div class="sidebar @(sidebarCollapsible ? "d-none" : "")">
        <NavMenu />
    </div>
    <main>
        <div class="top-row" style="padding-left: 0 !important; padding-right: 0 !important;">
            <MudAppBar Color="Color.Dark" Fixed="false">
                <MudIconButton @onclick="ChangeSidebarVisible" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
                <MudSpacer />
                <MudAvatar Color="Color.Inherit">W</MudAvatar>
            </MudAppBar>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
