
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjetoFinal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <Collapse >
        <CollapseItems>
            <CollapseItem Text="Products">
                <NavLink class="nav-link" href="/products">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Products
                </NavLink>
                <p />
                <NavLink class="nav-link" href="/createproduct">
                    <span class="oi oi-phone" aria-hidden="true"></span>Create Product
                </NavLink>
            </CollapseItem>

            <CollapseItem Text="Stock">
                <NavLink class="nav-link" href="/stocks">
                    <span class="oi oi-phone" aria-hidden="true"></span>Stocks
                </NavLink>
            </CollapseItem>
        </CollapseItems>
    </Collapse>
    <ConsoleLogger />

</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
